body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.mouseCoordinatesDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}