body {
    font-family: Arial, sans-serif;
}

.news-container {
    width: 98%;
    background-color: burlywood;
    height: 100%;
}

.news-item {
    margin-bottom: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}